{% extends "base.html" %}

{% block content %}
    <div class="container">
                <h1 class="text-center">Home</h1><br>
        <div class="row">
            <div class="col-md-6">
                <canvas class="chart" id="myChart"></canvas>
            </div>
            <div class="col-md-6">
                <div id="container"></div>
            </div>
        </div>
    </div>

<script>
    $(document).ready(function(){
        var endpoint = "/api/chart/data/";
        var customers_django = parseInt("{{ customers }}")
        var default_data = []
        var labels = [];

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data) {
                labels = data.labels
                console.log(labels)
                default_data = data.default
                console.log(default_data)
                setChart()

            },
            error: function(error_data) {
                console.log()
                console.log(data)
            },
        });

        function setChart(){
            var ctx = document.getElementById('myChart');
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Votes',
                        data: default_data,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255, 99, 132, 1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }
        
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Historic World Population by Region'
            },
            xAxis: {
                categories: [{% for entry in dataset %}'{{ entry.ticket_class }} Class'{% if not forloop.last %}, {% endif %}{% endfor %}]
            },
            series: [{
                name: 'Survived',
                data: [{% for entry in dataset %} {{ entry.survived_count }} {% if not forloop.last %}, {% endif %}{% endfor %}],
                color: 'green'

            }, {
                name: 'Not survived',
                data: [{% for entry in dataset %}{{ entry.not_survived_count }}{% if not forloop.last %}, {% endif %}{% endfor %}],
                color: 'red'

            },]
        });
    });
</script>
{% endblock content %}